/****** Vendor Imports ******/
@import 'partials/vendor/bourbon/bourbon';

/********** Setup ***********/
@import 'partials/setup/variables';
@import 'partials/setup/reset';
@import 'partials/setup/fonts';
@import 'partials/setup/general';

/***** Site Components ******/
$headerHeight: 100px;

#backgroundCanvas {
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
header {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: $headerHeight;
  border: 2px solid white;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(0, 0, 100), rgb(100,100,150));
  .headerTitle {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: white;
    padding: 10px;
    span {
      margin: 10px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  nav {
    z-index: 100;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    padding: 10px;
    button.navLinks {
      text-align: center;
      height: 60px;
      width: 150px;
      background: rgb(0, 0, 100);
      color: white;
      border-radius: 10px;
      font-size: 15px;
      outline-style: none;
      &:hover {
        background: white;
        color: rgb(0, 0, 100);
      }
    }
    .linkItems {
      max-height: 0;
      width: 150px;
      position: fixed;
      top: $headerHeight;
      margin-right: 10px;
      right: 0;
      background: white;
      border-radius: 0 0 10px 10px;
      transition: .2s all ease .2s;
      li {
        visibility: hidden;
        z-index: 100;
        padding: 10px;
        font-size: 20px;
        font-family: Arial, sans-serif;
        text-decoration: none;
        opacity: 0;
        transition: .2s all ease;
        cursor: pointer;
      }
      &.active {
        max-height: 200px;
        transition: .5s all ease;
        background: rgb(0, 0, 100);
        border: 1px solid white;
        li {
          color: white;
          opacity: 1;
          visibility: visible;
          transition: .2s opacity ease .2s;
          &:hover {
            background: white;
            color: rgb(0, 0, 100);
          }
        }
      }
    }
  }
}

.projectsSection {
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  .viewerBtns {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 100%;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    .arrow-left {
      position: absolute;
      top: $headerHeight / 2;
      left: 10%;
      width: 0;
      height: 0;
      border-top: 2vw solid transparent;
      border-bottom: 2vw solid transparent;
      border-right: 2vw solid rgba(255, 255, 255, 0.95);
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }
    .arrow-right {
      position: absolute;
      top: $headerHeight / 2;
      right: 10%;
      width: 0;
      height: 0;
      border-top: 2vw solid transparent;
      border-bottom: 2vw solid transparent;
      border-left: 2vw solid rgba(255, 255, 255, 0.95);
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .projectViewer {
    overflow: hidden;
    position: relative;
    top: $headerHeight / 2;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    border-radius: 10px;
    height: 75%;
    width: 60%;
    color: black;
    font-size: 20px;
    font-family: Arial, sans-serif;
    .currentProject {
      height: 100%;
      width: 100%;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      h1 {
        font-size: 35px;
      }
      a.projectImage {
        position: relative;
        border: 2px solid black;
        border-radius: 5px;
        transition: all .3s ease;
        img {
          width: 42vw;
          height: 29vw;
        }
        .techstack {
          top: 50%;
          left: 50%;
          position: absolute;
          padding: 20px;
          height: 50%;
          width: 70%;
          color: white;
          background: rgba(0, 0, 0, 0.9);
          font-size: 1.5vw;
          transform: translate(-50%, -50%);
          .listTitle {
            text-decoration: underline;
          }
          li {
            margin: 10px 0;
            text-decoration: none;
          }
        }
      }
      p {
        max-width: 45vw;
        text-align: justify;
      }
      .detailBtns a {
        cursor: pointer;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        height: 60px;
        width: 150px;
        background: rgb(0, 0, 100);
        color: white;
        border-radius: 10px;
        font-size: 15px;
        outline-style: none;
        &:hover {
          background: white;
          color: rgb(0, 0, 100);
        }
      }
    }
  }
}
.contactInfo {
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  a {
    padding: 20px;
    background: rgb(0, 0, 100);
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 40px;
    font-family: Arial, sans-serif;
    text-decoration: none;
  }
}

@media only screen and (max-width: 600px) {
  header nav button.navLinks {
    position: fixed;
    top: $headerHeight;
    left: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60px;
    width: 100vw;
    background: rgb(0, 0, 100);
    color: white;
    border-radius: 10px;
    font-size: 25px;
    outline-style: none;
    &:hover {
      background: white;
      color: rgb(0, 0, 100);
    }
  }
  .linkItems {
    max-height: 0;
    width: 100vw !important;
    position: fixed;
    top: 160px !important;
    left: 0;
    right: 0;
    background: white;
    border-radius: 0 0 10px 10px;
    transition: .2s all ease .2s;
    li {
      visibility: hidden;
      z-index: 100;
      padding: 10px;
      font-size: 20px;
      font-family: Arial, sans-serif;
      text-decoration: none;
      opacity: 0;
      transition: .2s all ease;
      cursor: pointer;
    }
    &.active {
      max-height: 200px;
      transition: .5s all ease;
      background: rgb(0, 0, 100);
      border: 1px solid white;
      li {
        color: white;
        opacity: 1;
        visibility: visible;
        transition: .2s opacity ease .2s;
        &:hover {
          background: white;
          color: rgb(0, 0, 100);
        }
      }
    }
  }
  .projectsSection {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 50;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    .viewerBtns {
      position: absolute;
      left: 0;
      right: 0;
      height: 100%;
      color: white;
      font-size: 20px;
      font-family: Arial, sans-serif;
      .arrow-left {
        position: absolute;
        top: $headerHeight / 2 + 20px;
        left: 0;
        width: 0;
        height: 0;
        border-top: 7vw solid transparent;
        border-bottom: 7vw solid transparent;
        border-right: 7vw solid rgba(255, 255, 255, 0.95);
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
        }
      }
      .arrow-right {
        position: absolute;
        top: $headerHeight / 2 + 20px;
        right: 0;
        width: 0;
        height: 0;
        border-top: 7vw solid transparent;
        border-bottom: 7vw solid transparent;
        border-left: 7vw solid rgba(255, 255, 255, 0.95);
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .projectViewer {
      overflow: hidden;
      position: relative;
      top: 70px;
      background: rgba(255, 255, 255, 0.9);
      border: 2px solid black;
      border-radius: 10px;
      height: 65%;
      width: 80%;
      color: black;
      font-size: 20px;
      font-family: Arial, sans-serif;
      .currentProject {
        height: 100%;
        width: 100%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        h1 {
          font-size: 35px;
        }
        a.projectImage {
          width: 95%;
          position: relative;
          display: flex;
          display: -webkit-flex;
          justify-content: center;
          align-items: center;
          border: 2px solid black;
          border-radius: 5px;
          // box-shadow: 0 0 20px 10px rgb(100,100,150);
          transition: all .3s ease;
          img {
            width: 100%;
            height: 120%;
          }
          .techstack {
            top: 50%;
            left: 50%;
            position: absolute;
            padding: 10px;
            height: 90%;
            width: 70%;
            overflow: scroll;
            color: white;
            background: rgba(0, 0, 0, 0.9);
            font-size: 3.5vw;
            transform: translate(-50%, -50%);
            .listTitle {
              text-decoration: underline;
            }
            li {
              margin: 10px 0;
              text-decoration: none;
            }
          }
        }
        p {
          max-width: 90%;
          text-align: justify;
        }
        .detailBtns a {
          cursor: pointer;
          padding: 10px;
          text-align: center;
          text-decoration: none;
          height: 60px;
          width: 150px;
          background: rgb(0, 0, 100);
          color: white;
          border-radius: 10px;
          font-size: 15px;
          outline-style: none;
          &:hover {
            background: white;
            color: rgb(0, 0, 100);
          }
        }
      }
    }
  }
}
