/****** Vendor Imports ******/
@import 'partials/vendor/bourbon/bourbon';

/********** Setup ***********/
@import 'partials/setup/variables';
@import 'partials/setup/reset';
@import 'partials/setup/fonts';
@import 'partials/setup/general';

/***** Site Components ******/
#backgroundCanvas {
  z-index: 1;
  position: absolute;
  background: rgb(0, 0, 100);
  width: 100vw;
  height: 100vh;
}

.projectsSection, .contactSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 100);
    z-index: 100;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: white;
    padding: 10px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 10px;
    span {
      margin: 10px;
    }
  }
  nav {
    display: flex;
    align-items: center;
    z-index: 100;
    margin: 10px;
    // height: 100px;
    a {
      display: none;
      background: rgb(0, 0, 100);
      z-index: 100;
      font-size: 20px;
      font-family: Arial, sans-serif;
      color: white;
      padding: 10px;
      margin: 10px;
      border: 2px solid white;
      border-radius: 10px;
      text-decoration: none;
    }
  }
}

section {
  height: 100vh;
  width: 100vw;
}
