<section class="projectsSection">
  <div class="viewerBtns">
    <div ng-click="projects.previousProject()" class="arrow-left"></div>
    <div ng-click="projects.nextProject()" class="arrow-right"></div>
  </div>
  <div class="projectViewer">
    <div class="currentProject">
      <h1>{{projects.projectsList[projects.currentProject].name}}</h1>
      <a class="projectImage" href="{{projects.projectsList[projects.currentProject].pageLink}}" target="_blank">
        <img src="{{projects.projectsList[projects.currentProject].thumbnail}}">
        <ul class="techstack">
          <span class="listTitle">Tech Stack</span>
          <li ng-repeat="techstackItem in projects.projectsList[projects.currentProject].techstack">{{techstackItem}}</li>
        </ul>
      </a>
      <p>{{projects.projectsList[projects.currentProject].descrShort}}</p>
      <a href="{{projects.projectsList[projects.currentProject].repoLink}}" target="_blank">View on GitHub</a>
    </div>
  </div>
</section>
