<section class="projectsSection">
  <div class="viewerBtns">
    <div ng-click="projects.previousProject()" class="arrow-left"></div>
    <div ng-click="projects.nextProject()" class="arrow-right"></div>
  </div>
  <div class="projectViewer">
    <div class="currentProject">
      <h1>{{projects.projectsList[projects.currentProject].name}}</h1>
      <a class="projectImage" href="{{projects.projectsList[projects.currentProject].pageLink}}" target="_blank">
        <img src="{{projects.projectsList[projects.currentProject].thumbnail}}">
        <p class="description">{{projects.projectsList[projects.currentProject].descrLong}}</p>
      </a>
      <p>{{projects.projectsList[projects.currentProject].descrShort}}</p>
    </div>
  </div>
</section>
